nav {
  background-color: var(--blue);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;

  > ul {
    grid-auto-flow: column;

    > li {
      margin: 0 0.5rem;

      a,
      .dropdown__title {
        text-decoration: none;
        text-align: center;
        display: inline-block;
        color: #fff;
        font-size: 1.125rem;

        &:focus {
          outline: none;
        }
      }

      > a,
      .dropdown__title {
        padding: 1rem 0.5rem;
        border-top: 2px solid transparent;
        transition: all 0.2s ease-in-out;
        align-self: stretch;
        height: 100%;

        &:hover,
        &:focus {
          border-top-color: pink;
          color: pink;
        }
      }
    }
  }

  ul {
    list-style: none;
    display: grid;
  }
}

.dropdown {
  position: relative;

  &__title {
    background-color: transparent;
    border: none;
    font-family: inherit;
  }

  .dropdown__menu {
    position: absolute;
    min-width: 15ch;
    left: 50%;
    top: calc(100% - 0.2rem);
    transition: all 0.2s ease-in-out;
    transform: rotateX(-90deg) translateX(-50%);
    transform-origin: top center;
    visibility: hidden;
    opacity: 0.3;
    padding: 0.5rem 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0.15rem 0.2rem rgba(black, 0.25);

    a {
      color: var(--black);
      display: block;
      padding: 0.5rem;
      opacity: 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: rgba(rebeccapurple, 0.1);
      }

      &:focus {
        outline: none;
        background-color: rgba(rebeccapurple, 0.25);
      }
    }
  }

  &:after {
    content: "";
    border: 0.5rem solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: calc(100% - 1.25rem);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    will-change: opacity;
  }

  &:hover,
  &:focus-within {
    .dropdown-title {
      border-top-color: pink;
    }

    .dropdown__menu {
      opacity: 1;
      transform: rotateX(0) translateX(-50%);
      visibility: visible;

      a {
        opacity: 1;
      }
    }

    &:after {
      opacity: 1;
    }
  }
}
