.smol-card-component {
  --img-ratio: 3/2;
  width: 25ch;
  margin-inline: auto;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;

  > img {
    aspect-ratio: var(--img-ratio);
    object-fit: cover;
    width: 100%;

    &:first-child {
      border-radius: 0.5rem 0.5rem 0 0;
    }

    &:last-child {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }

  p {
    font-weight: 300;
  }

  > :not(img) {
    margin-inline: 1rem;
  }

  > :last-of-type:not(img) {
    margin-bottom: 0.5rem;
  }

  > :not(h2, h3, h4) {
    font-size: 0.9rem;
  }
}
