.smol-flexbox-grid {
  --min: 10ch;
  --gap: 1rem;

  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
  gap: var(--gap);

  > * {
    flex: 1 1 var(--min);
  }
}
